.title {
  width: 100%;
  background-color: #eaf8fb;
  height: 25dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 150px;
  margin-top: 0px;
}
.title h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}
.title p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
.contact {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 80px;
  margin-top: 50px;
  margin-left: 100pxpx;
}
.cont-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.cont-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
.cont-left h4 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.cont-left p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}
.cont-left i {
  margin-right: 20px;
}

.cont-right {
  width: 40%;
  padding: 10px 20px;
}
.cont-right h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}
.cont-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cont-form input {
  padding: 15px;
  margin-bottom: 10px;
  border: solid 1px #afafaf;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.cont-form input:focus {
  outline: solid 1px #068afd;
}
.cont-form #send {
  width: 150px;
  padding: 15px;
  margin-top: 5px;
  text-align: center;
  background-color: #08b0d5;
  color: #ffffff;
  border: none;
}
.cont-form #messege {
  padding: 10px 10px;
  height: 230px;
  text-align: start;
  outline: solid 1px #068afd;
}
@media screen and (max-width: 480px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .title {
    width: 100%;
    background-color: #eaf8fb;
    height: 20dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-top: 90px;
  }
  .title h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
  }
  .title p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  .contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 30px 30px;
  }
  .cont-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-left h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  .cont-left h4 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  .cont-left p {
    text-align: center;
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
  }
  .cont-left i {
    margin-right: 20px;
  }
  .cont-right {
    width: 100%;
    padding: 10px 0px;
  }
  .cont-right h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #068afd;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  input {
    padding: 15px;
    margin-bottom: 10px;
    border: solid 1px #afafaf;
    border-radius: 0.5rem;
    background-color: #ffffff;
  }
  input:focus {
    outline: solid 1px #068afd;
  }
  #send {
    font-size: 1em;
    padding: 15px;
    margin-top: 5px;
    text-align: center;
    background-color: #08b0d5;
    color: #ffffff;
    border: none;
  }
  textarea {
    height: 150px;
    text-align: start;
  }
}
