/* header section */
.title {
  width: 100%;
  background-color: #eaf8fb;
  height: 20dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5px 150px;
  /* margin-top: 30px; */
}
.title h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}
.title p {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
/* .cont {
  width: 100%;
  padding: 30px 150px;
} */
.cont-service {
  padding: 30px 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.order {
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 50px;
}
.order-des {
  width: 30%;
}
.order-des h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.order-des p {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
}
.order-img {
  object-fit: cover;
  width: 30%;
  border: solid 1px #068afd;
}
.order-img img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .title {
    width: 100%;
    background-color: #eaf8fb;
    height: 20dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    /* margin-top: 30px; */
  }
  .title h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
  }
  .title p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  .cont-service {
    width: 100%;
    background-color: #eaf8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5px 30px;
    margin-top: 30px;
  }
  .order {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .order-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .order-des h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .order-des p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
  }
  .order-img {
    width: 400px;
    height: 400px;
    border: solid 1px #068afd;
  }
}
